{% extends "base/base.html" %}
{% block start %}

<section class="section-content padding-y" style="min-height:84vh">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        {%if user.is_patient%}
                        <h4 class="card-title mb-1">Patient Dashboard</h4>
                        {%endif%}
                        {%if user.is_doctor%}
                        <h4 class="card-title mb-1">Doctor Dashboard</h4>
                        {%endif%}
                        <hr>
                        <img src="/media/{{profile.profile_picture}}" class="rounded-circle mb-3" alt="Profile Picture" width="100">
                        <div class="border p-2 mb-2"><strong>First Name:</strong> {{profile.user.first_name}}</div>
                        <div class="border p-2 mb-2"><strong>Last Name:</strong> {{profile.user.last_name}}</div>
                        <div class="border p-2 mb-2"><strong>Username:</strong>{{profile.user.username}}</div>
                        <div class="border p-2 mb-2"><strong>Email:</strong> {{profile.user.email}}</div>
                        <div class="border p-2 mb-2"><strong>Address:</strong> {{profile.address}}</div>
                        <div class="border p-2 mb-2"><strong>City:</strong> {{profile.city}}</div>
                        <div class="border p-2 mb-2"><strong>State:</strong> {{profile.state}}</div>
                        <div class="border p-2 mb-2"><strong>Pincode:</strong> {{profile.pincode}}</div>
                        <p class="text-center mt-4"> <a href='{% url "logout_page" %}'>Logout</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}